# sync-server.timer start sync-server once per week
# Bruno Mondelo Giaramita
# 2017-05-12 Escola Del Treball

[Unit]
Description=Start backup time-based
Documentation=https://github.com/mondelob

[Timer]
OnCalendar=weekly

[Install]
WantedBy=timers.target
