# mnt-resources.mount defines an mount point
# at /mnt/resources folder
# Bruno Mondelo Giaramita
# 2017-05-12 Escola Del Treball

[Unit]
Description=Resources mount point
Documentation=https://github.com/mondelob

[Mount]
What=/dev/sda2
Where=/mnt/resources
Type=ext4
Options=rw,users
DirectoryMode=0770
