# sync-server.service defines a sync service
# Bruno Mondelo Giaramita
# 2017-05-15 Escola Del Treball

[Unit]
Description=Sync server
Documentation=https://github.com/mondelob

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/bin/python /usr/sbin/sync-server.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
